@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-variation-settings: "wght" 300, ;
        src: url(/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf) format(truetype);
    }
}